In [41]:
# def a function evaluate the fitting goodness of dataset by Gpr model and LOOCV
import math
import warnings
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF,
from sklearn.model_selection import LeaveOneOut
warnings.filterwarnings('ignore')

def eval_dataset(dataset):
    dataset = np.array(dataset)
    KErnel = 1*RBF(length_scale_bounds = (1e-2, 1e2))
    X = dataset[:, :-1]
    Y = dataset[:, -1]
    loo = LeaveOneOut()
    y_pre_set = []
    for train_index, test_index in loo.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, _ = Y[train_index], Y[test_index]
        Gpr_i = GaussianProcessRegressor(kernel=KErnel,
                                        normalize_y=True,
                                        random_state=0).fit(X_train, y_train)

        y_pre = Gpr_i.predict(X_test, return_std=True)[0]
        y_pre_set.append(y_pre)
    Rvalue = PearsonR(y_pre_set, Y)
    return Rvalue


def PearsonR(X, Y):
    X = np.array(X)
    Y = np.array(Y)
    xBar = np.mean(X)
    yBar = np.mean(Y)
    SSR = 0
    varX = 0
    varY = 0
    for i in range(0, len(X)):
        diffXXBar = X[i] - xBar
        diffYYBar = Y[i] - yBar
        SSR += (diffXXBar * diffYYBar)
        varX += diffXXBar ** 2
        varY += diffYYBar ** 2
    SST = math.sqrt(varX * varY)

    return SSR / SST

# LOF

In [11]:
import pandas as pd
import numpy as np
data = pd.read_csv('FMOdataset.csv')

In [21]:
from sklearn.neighbors import LocalOutlierFactor
model = LocalOutlierFactor(n_neighbors=4, contamination=0.02,novelty=True)   
model.fit(data.iloc[:,:-1])

y = model._predict(data.iloc[:,:-1])
y

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LocalOutlierFactor was fitted with feature names
  warnings.warn(

array([ 1, -1, -1,  1,  1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1])

In [23]:
index = np.where(y == -1)[0]
index

array([1, 2, 6, 9])

In [26]:
for datum in range(len(index)):
    print('Outliers LOF : \n')
    print(data.iloc[index[datum],:],'\n')

Outliers LOF :

Cr_EV         19.526100
1/T            0.001486
ln(t)          6.363028
DO             8.000000
weightgain     3.761200
Name: 1, dtype: float64

Outliers LOF :

Cr_EV         19.526100
1/T            0.001486
ln(t)          5.541264
DO             8.000000
weightgain     3.496508
Name: 2, dtype: float64

Outliers LOF :

Cr_EV         19.526100
1/T            0.001293
ln(t)          6.620073
DO             8.000000
weightgain     5.484797
Name: 6, dtype: float64

Outliers LOF :

Cr_EV         19.526100
1/T            0.001293
ln(t)          6.606650
DO             8.000000
weightgain     5.278115
Name: 9, dtype: float64

In [32]:
data_removed = data.drop(index,axis = 0)
data_removed

       Cr_EV       1/T     ln(t)    DO  weightgain
0    19.5261  0.001486  3.688879     8    3.526361
3    19.5261  0.001486  6.214608     8    3.737670
4    19.5261  0.001293  6.214608     8    5.247024
5    19.5261  0.001293  6.214608     8    5.313206
7    19.5261  0.001293  6.214608     8    5.267858
..       ...       ...       ...   ...         ...
173  20.7240  0.001145  6.396930    10    6.543912
174  20.7240  0.001145  6.907755    10    6.728629
175  20.7240  0.001145  7.313220    10    6.900731
176  18.6880  0.001145  6.907755    25    7.230117
177  22.7720  0.001083  6.214608  2000    7.229846

[174 rows x 5 columns]

In [42]:
print(eval_dataset(data))
print(eval_dataset(data_removed))

[0.34228528]
[0.34598621]